.clouds-big {
  position: absolute;
  //display: block!important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  .img-ct {
    width: 488px;
    height: 138px;
  }
  img {
    width: 488px;
    height: 138px;
  }
  .img1 {
    position: absolute;
    top: 162px;
    left: 200px;
  }
  .img2 {
    position: absolute;
    top: 300px;
    left: 1150px;
  }
  .img3 {
    position: absolute;
    top: 543px;
    left: -35px;
  }
  .img4 {
    position: absolute;
    top: 1180px;
    left: 250px;
  }
  .img5 {
    position: absolute;
    top: 900px;
    left: 890px;
  }
}